.navbar {
    background-color: #085e7d;
}

.bg-dark {
    background-color: #085e7d !important;

}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
    /* resmin en ve boy oranını korumaya yarar. */
}

#map {
    width: 100%;
    height: 400px;
}

@media (min-width: 576px) {
    .card-img-top {
        height: 32vh;
    }

    /* mobil görüntüde resimin yüksekliği 25vh iken 576pxin üstüne cıkınca yüksekliği 32 oluyor */
}

@media (min-width: 768px) {
    #map {
        width: 100%;
        height: 100%;
    }

    /* 768px ve üstünde yükseklik 100% iken px azaldıkca haritanın yüksekliği 400px e döner */
}